/*Основной цвет текста #212121 */
/*Вторичный цвет текста #757575 */
/*Белый #E5E5E5 */
/*Акцент #2196F3 */
:root {
   --primary-text-color: #212121;
   --secondary-text-color: #757575;
   --gray-bg-section: #f5f4fa;
   --white-bg: #e5e5e5;
   --accent-color: #2196f3;
   --white-text: #ffffff;
   --gray-bd-test: #2f303a;
   --primary-letter-spacing: 0.03em;
   --secondary-letter-spacing: 0.02em;
   --primary-font-size: 14px;
   --secondary-font-size: 16px;
}
/*Body*/
body {
   background-color: var(--white-text);
   color: var(--primary-text-color);
   letter-spacing: var(--primary-letter-spacing);
   font-size: var(--primary-font-size);

   font-family: 'Roboto', sans-serif;
}
/*Logo*/
.logo {
   font-family: Raleway, sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   color: var(--primary-text-color);
   text-decoration: none;
}
.logo .accent {
   color: var(--accent-color);
}
.logo .white-logo {
   color: var(--white-text);
}

/*nav-site*/
.site-nav {
   list-style-type: none;
}
.site-nav .link {
   color: var(--primary-text-color);
   text-decoration: none;
   font-weight: 500;

   line-height: 1.1;
   letter-spacing: var(--secondary-letter-spacing);
}

.site-nav .link:hover,
.site-nav .link:focus {
   color: var(--accent-color);
}
.site-nav .link-studio:visited {
   color: var(--accent-color);
}
.site-nav .link-portfolio:visited {
   color: var(--accent-color);
}

/*nav-contacts*/
.contacts-nav {
   list-style-type: none;
}
.contacts-nav .link {
   color: var(--secondary-text-color);
   text-decoration: none;
   font-weight: 500;

   line-height: 1.1;
   letter-spacing: var(--secondary-letter-spacing);
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
   color: var(--accent-color);
}

/*hero*/
.hero {
   background-color: var(--gray-bd-test);
   text-align: center;
}
.hero .title {
   color: var(--white-text);
   font-weight: 900;
   font-size: 44px;
   line-height: 1.4;
   letter-spacing: 0.06em;
   text-transform: uppercase;
}
.hero-button {
   color: var(--white-text);
   background-color: var(--accent-color);
   font-weight: 700;
   font-size: var(--secondary-font-size);
   line-height: 1.9;
}

/*Section*/
.section p {
   color: var(--secondary-text-color);
}
.section-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
   text-align: center;
}
/*Benefits*/
.benefits-header {
   line-height: 1.1;
   text-transform: uppercase;
   font-size: 14px;
}
.benefits-text {
   
   line-height: 1.7;
}
/*Team*/
.section-team {
   background-color: var(--gray-bg-section);
}
.team-member {
   background-color: var(--white-text);
   width: 270px;
   height: 368px;
   text-align: center;
}
.team-member-name {
   font-weight: 500;
   font-size: var(--secondary-font-size);
   line-height: 1.2;
}
.team-member-title {
   font-size: var(--secondary-font-size);
   line-height: 1.2;
}
/*Portfolio*/
.portfolio {
   background-color: var(--white-text);
   width: 370px;
   height: 404px;
}
.portfolio-button {
   cursor: pointer;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: var(--secondary-font-size);
   line-height: 1.6;
   text-align: center;
}
.portfolio-button:hover,
.portfolio-button:focus {
   background-color: var(--accent-color);
   color: var(--white-text);
   
}
.portfolio-button-all:visited {
   background-color: var(--accent-color);
   color: var(--white-text);
}
.portfolio-button-web:visited {
   background-color: var(--accent-color);
   color: var(--white-text);
}
.portfolio-button-app:visited {
   background-color: var(--accent-color);
   color: var(--white-text);
}
.portfolio-button-desing:visited {
   background-color: var(--accent-color);
   color: var(--white-text);
}
.portfolio-button-marketing:visited {
   background-color: var(--accent-color);
   color: var(--white-text);
}

.portfolio-example {
   text-decoration: none;
}
.portfolio-header {
   color: var(--primary-text-color);
   font-weight: 700;
   font-size: 18px;
   line-height: 2;

   letter-spacing: 0.06em;
}
.portfolio-text {
   font-size: var(--secondary-font-size);
   line-height: 1.9;
}
/*Hidden header*/
.hidden-header {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/*ul main*/
.ul-img {
   list-style-type: none;
}

/*footer*/

.footer {
   background-color: var(--gray-bd-test);
}
.footer .address {
   color: var(--gray-bg-section);
   font-style: normal;
   line-height: 1.7;
}
.footer .link-footer {
   color: rgba(255, 255, 255, 0.6);
}
